img {
    width: 50px;
  }
  
  /* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    background: #C4B4A7;
    margin-bottom: 2em;
    flex: 0 1 24%;
  } */
  
  .card-content {
    padding: .5em;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: rgb(35, 36, 36);
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
  }
  
  .content-projectname {
    color: rgb(35, 36, 36);
  }
  
  .card button {
    background-color: #AF8988;
    border: none;
    color: rgb(35, 46, 25);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    width: 100%;
  }
  
  .card button:hover {
    background-color:#C8BEB5;
  }