@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


.h1, h1 {
    font-size: 2.5rem;
    font-family: 'Judson', serif;
}

.ideaForm {
    max-width: 550px;
    min-width: 170px;
    min-height: 245px;
    padding: 2em;
}