/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #070707;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #C4B4A7;
  color: rgb(26, 23, 48);
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}