.home__img {
    background-position-x: right;
    background-image: url(logo_icon.svg);
}

.home__section {
    text-align: center;
}


.h2, h1 {
    font-size: 2.5rem;
    font-family: 'Judson', serif;
}
