@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


.h1, h1 {
    font-size: 3rem;
    font-family: 'Judson', serif;
    color: rgb(35, 46, 25);
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:#C8BEB5;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.footer__item {
    flex-basis: 20%;
    list-style-type: none;
    padding: 2em;
}

