@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


.h1, h1 {
    font-size: 2.5rem;
    font-family: 'Judson', serif;
    color: rgb(35, 46, 25);
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:#C8BEB5;
    padding: 2em;
    width: 100%;
    top: 0px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}


.logo-image img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    }
    
    